<div class="container-fluid">
    <div id="filters" class="row mx-0">
        <div class="col-12 px-4">
            <app-devices-filters (filtersChange)="onFiltersChange($event)"></app-devices-filters>
        </div>
    </div>
    <div id="devices" class="row">
        <div class="col-12 px-0">
            <table class="w-100 mw-100" [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300"
                [infiniteScrollDisabled]="paginator.pagination.disabled" (scrolled)="onLoadMore()" infiniteScroll>
                <thead>
                    <tr *hideItBootstrap="['xs', 'sm']">
                        <td>{{ 'devices.list.headers.id' | translate }}</td>
                        <td>{{ 'devices.list.headers.name' | translate }}</td>
                        <td>{{ 'devices.list.headers.type' | translate }}</td>
                        <td>{{ 'devices.list.headers.ipAddress' | translate }}</td>
                        <td>{{ 'devices.list.headers.actions' | translate }}</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *hideItBootstrap="['xs', 'sm']">
                        <tr *ngFor="let device of instances">
                            <td>
                                <span class="role d-inline-flex align-items-center">
                                    <span class="text">{{ device.id }}</span>
                                </span>
                            </td>
                            <td>
                                <span class="role d-inline-flex align-items-center">
                                    <span class="text">{{ device.key }}</span>
                                </span>
                            </td>

                            <td>
                                <span class="role d-inline-flex align-items-center">
                                    <span class="text upper">{{ device.type | uppercase }}</span>
                                </span>
                            </td>

                            <td>
                                <span class="role d-inline-flex align-items-center">
                                    <span class="text upper">{{ device.ipAddress }}</span>
                                </span>
                            </td>

                            <td>
                                <div ngbDropdown>
                                    <button class="action-item" id="dropdown" ngbDropdownToggle>
                                        {{ 'devices.list.headers.actions' | translate }}
                                    </button>

                                    <div ngbDropdownMenu aria-labelledby="dropdown">
                                        <button ngbDropdownItem [routerLink]="['/devices', device.id]" disabled>
                                            {{ 'devices.list.actions.details.short' | translate }}
                                        </button>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>

                </tbody>
                <tfoot>
                    <td colspan="3">
                        <div class="row" *ngIf="paginator.loading">
                            <div class="col-12 pt-5 d-flex justify-content-center">
                                <div class="spinner-border" role="status"></div>
                            </div>
                        </div>
                    </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>