<div class="container-fluid">
    <div id="filters" class="row mx-0">
        <div class="col-12 px-4">
            <app-devices-filters (filtersChange)="onFiltersChange($event)"></app-devices-filters>
        </div>
    </div>
    <div id="devices" class="row">
        <div class="col-12 px-0">
            <table class="w-100 mw-100"
                   [infiniteScrollDistance]="1"
                   [infiniteScrollThrottle]="300"
                   [infiniteScrollDisabled]="paginator.pagination.disabled"
                   (scrolled)="onLoadMore()"
                   infiniteScroll>
                <thead>
                    <tr *hideItBootstrap="['xs', 'sm']">
                        <td>{{ 'devices.list.headers.id' | translate }}</td>
                        <td>{{ 'devices.list.headers.name' | translate }}</td>
                        <td>{{ 'devices.list.headers.connected' | translate }}</td>
                        <td>{{ 'devices.list.headers.enabled' | translate }}</td>
                        <td>{{ 'devices.list.headers.configured' | translate }}</td>
                        <td>{{ 'devices.list.headers.natType' | translate }}</td>
                        <td>{{ 'devices.list.headers.mgmtip' | translate }}</td>
                        <td>{{ 'devices.list.headers.interfaces' | translate }}</td>
                        <td>{{ 'devices.list.headers.registration_timestamp' | translate }}</td>
                        <td>{{ 'devices.list.headers.actions' | translate }}</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *hideItBootstrap="['xs', 'sm']">
                        <tr *ngFor="let device of instances">
                            <td>
                                <span class="role d-inline-flex align-items-center">
                                    <span class="text">{{ device.id }}</span>
                                </span>
                            </td>
                            <td>
                                <span class="role d-inline-flex align-items-center">
                                    <span class="text">{{ device.name }}</span>
                                </span>
                            </td>
                            <td>
                                <span class="role d-inline-flex align-items-center">
                                    <span *ngIf="device.connected; else notConnectedBlock " class="text upper">{{ 'commons.yes' | translate }}</span>
                                    <ng-template #notConnectedBlock><span class="text upper">{{ 'commons.no' | translate }}</span></ng-template>
                                </span>
                            </td>
                            <td>
                                <span class="role d-inline-flex align-items-center">
                                    <span *ngIf="device.enabled; else notEnabledBlock " class="text upper">{{ 'commons.yes' | translate }}</span>
                                    <ng-template #notEnabledBlock><span class="text upper">{{ 'commons.no' | translate }}</span></ng-template>
                                </span>
                            </td>
                            <td>
                                <span class="role d-inline-flex align-items-center">
                                    <span *ngIf="device.configured; else notConfiguredBlock " class="text">{{ 'commons.yes' | translate }}</span>
                                    <ng-template #notConfiguredBlock><span class="text">{{ 'commons.no' | translate }}</span></ng-template>
                                </span>
                            </td>
                            <td>
                                <span class="role d-inline-flex align-items-center">
                                    <span class="text upper">{{ device.natType }}</span>
                                </span>
                            </td>
                            <td>
                                <span class="role d-inline-flex align-items-center">
                                    <span class="text">{{ device.mgmtip }}</span>
                                </span>
                            </td>
                            <td>
                                <span class="role d-inline-flex align-items-center">
                                    <span class="text">{{ device.interfaces.length }}</span>
                                </span>
                            </td>
                            <td>
                                <span class="role d-inline-flex align-items-center">
                                    <span class="text">{{ device.registrationTimestamp }}</span>
                                </span>
                            </td>
                            <td>
                                <div ngbDropdown>
                                    <button
                                        class="action-item"
                                        id="dropdown" ngbDropdownToggle>
                                        {{ 'devices.list.headers.actions' | translate }}
                                    </button>

                                    <div ngbDropdownMenu aria-labelledby="dropdown">
                                        <button ngbDropdownItem [routerLink]="['/devices', device.id]">
                                            {{ 'devices.list.actions.details.short' | translate }}
                                        </button>
                                        <button ngbDropdownItem [routerLink]="['/devices', device.id, 'edit']">
                                            {{ 'devices.list.actions.edit.short' | translate }}
                                        </button>
                                        <button *ngIf="device.enabled == true" ngbDropdownItem (click)="onDisableDevice(device.id)" >
                                            {{ 'devices.list.actions.disable.short' | translate }}
                                        </button>
                                        <button *ngIf="device.enabled == false" ngbDropdownItem (click)="onEnableDevice(device.id)" >
                                            {{ 'devices.list.actions.enable.short' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>

                  <!--   <ng-container *showItBootstrap="['xs', 'sm']">
                        <tr *ngFor="let device of instances">
                            <td class="d-flex flex-column">
                                <div class="d-flex">
                                    <div class="d-flex flex-column ml-3 overflow-hidden">
                                        <span class="text">{{ device.id }}</span>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="role d-inline-flex align-items-center">

                                        <span class="dot"></span>
                                        <span class="text">{{ 'device.types.' + device.type | translate}}</span>
                                    </span>
                                </div>

                                <table>
                                    <tr>
                                        <td class="px-0">
                                            <div class="d-flex justify-content-between align-items-center">
                                            <span class="d-inline-flex align-items-center">
                                            <app-button class="mt-0 pl-0"
                                                        [title]="'devices.list.actions.edit.short' | translate"
                                                        [type]="'clear'"
                                                        [routerLink]="['/devices', device.id, 'edit']" >
                                            </app-button>
                                        </span>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </ng-container>
                     -->
                </tbody>
                <tfoot>
                    <td colspan="3">
                        <div class="row" *ngIf="paginator.loading">
                            <div class="col-12 pt-5 d-flex justify-content-center">
                                <div class="spinner-border" role="status"></div>
                            </div>
                        </div>
                    </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>
