<header>
    <div class="container-fluid mx-auto">
        <nav class="row align-items-center">
            <div class="col d-flex align-items-center px-4">
                <h1 id="title" #title></h1>
                
            </div>
            <app-header-breadcrumb></app-header-breadcrumb>
            <!-- <div class="ml-auto" *hideItBootstrap="['xs', 'sm']" [title]="'overlaynets.list.filters.action.create' | translate" [routerLink]="['/overlaynets/create']">Ciao mamma</div> -->
        </nav>
    </div>
    
</header>
