$color-background: #ffffff;
$color-primary: #4757A3;
$color-text: #373737;
$color-gray: #9ca1a7;
$color-form-placeholder: #929292;

$color-input-error: rgba(232, 69, 62, 0.7);
$color-input-success: limegreen;
$color-input-placeholder: #b9c0ca;
$color-input-border: #e4e2e2;
$color-selection-highlight: #f9f9f9;

$color-menu-item-selected: #5197C4;
$color-menu-item: #b7bcc0;
$color-tabmenu-icon-color: #b9c0ca;

$color-breadcrumb-text-selected: #5197C4;
$color-breadcrumb-text: #373737;
$color-breadcrumb-separator: #9ca1a7;


$color-button-state-disabled-background: #eae9e9;
$color-button-state-enabled-background: #5197C4;
$color-empty-button-state-disabled-background: transparent;
$color-empty-button-state-disabled-color: #E7EAF2;
$color-empty-button-state-enabled-background: #5197C4;
$color-button-state-disabled: white;
$color-button-state-enabled: white;

$color-tag-roles-operator-background: #4087d7;
$color-tag-roles-operator-dot: #4087d7;
$color-tag-roles-admin-background: #40d78f;
$color-tag-roles-admin-dot: #40d78f;
