$navigation-xs-height: 56px;
$navigation-md-height: 80px;
$tabbar-xs-height: 50px;
$tabbar-xs-icon-size: 50px;

$side-menu-xs-width: 0px;
$side-menu-md-width: 0px;
$side-menu-lg-width: 250px;
$side-menu-xl-width: 300px;
