<div class="container-fluid">
    <div id="dashboard">
        <div class="row">
            <div class="panel col-12 col-md-4 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.panel.devices.total' | translate }}</div>
                        <div class="description-stats">
                            <span class="mdi mdi-router-network ">
                                <span *ngIf="dashboard.devices">{{dashboard.devices.total }}</span>
                                <span *ngIf="dashboard.devices.total === undefined"> -- </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel col-12 col-md-4 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.panel.devices.customer_host' | translate }}</div>
                        <div class="description-stats">
                            <span class="mdi mdi-router-network ">
                                <span *ngIf="dashboard.devices">{{dashboard.devices.customer_host }}</span>
                                <span *ngIf="dashboard.devices.customer_host === undefined"> -- </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel col-12 col-md-4 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.panel.devices.provider_host' | translate }}</div>
                        <div class="description-stats">
                            <span class="mdi mdi-router-network ">
                                <span *ngIf="dashboard.devices">{{dashboard.devices.provider_host }}</span>
                                <span *ngIf="dashboard.devices.provider_host === undefined"> -- </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel col-12 col-md-4 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.panel.devices.router' | translate }}</div>
                        <div class="description-stats">
                            <span class="mdi mdi-router-network ">
                                <span *ngIf="dashboard.devices">{{dashboard.devices.router }}</span>
                                <span *ngIf="dashboard.devices.router === undefined"> -- </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">


        </div>


    </div> 
</div>