@import "index";

$columns-x-padding: 25px;

#topoviewer {
    background: rgb(138, 138, 132);
    height:600px;
    // height: 100%;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}

