@import "index";

.mdi-loading {
    margin: 0 0 20px 0;
    font-size: 40px;
    color: $color-primary;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.mdi-check-circle {
    margin: 0 0 20px 0;
    font-size: 50px;
    color: $green;
}

.mdi-alert-outline {
    margin: 0 0 20px 0;
    font-size: 50px;
    color: $red;
}

span {
    text-align: center;
    font-size: 22px;
    max-width: 70vw;
}

a {
    margin-top: 30px;
    color: $color-primary;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
