<div id="side-menu" class="d-flex flex-column pt-4" *hideItBootstrap="['xs', 'sm']">
    <div id="header" class="d-flex flex-column align-items-center my-4">
        <div class="position-relative">
            <div id="avatar" [style.backgroundImage]=" '/assets/images/avatar_default.jpg' | asBackgroundUrl"></div>
        </div>
        <div class="d-flex flex-column align-items-center mt-4">
            <!-- <span class="fullname">{{ (operator | async)?.username | capitalize:'words' }}</span> -->
            <!-- <span class="role">Tenant: {{ (operator | async)?.project_name }}</span> -->
            <span class="fullname">The ROSE project</span>
            <span class="role">Tenant: ROSE</span>
        </div>
    </div>
    <div id="menu" class="d-flex flex-column mt-4 pt-4">
        <div class="menu-item no-outline" routerLink="/dashboard" [class.active]="isLinkActive('/dashboard')">
            <i class="mdi mdi-view-dashboard-outline ml-4 ml-xl-5"></i>
            <span class="title">{{ 'layout.menu.dashboard' | translate }}</span>
        </div>
        
        <div class="menu-item no-outline" routerLink="/devices" [class.active]="isLinkActive('/devices')">
            <i class="mdi mdi-router-network ml-4 ml-xl-5"></i>
            <span class="title">{{ 'layout.menu.devices' | translate }}</span>
        </div>
       
        <div class="menu-item no-outline" routerLink="/topology" [class.active]="isLinkActive('/topology')">
            <i class="mdi mdi-graphql ml-4 ml-xl-5"></i>
            <span class="title">{{ 'layout.menu.topology' | translate }}</span>
        </div>

        <div class="menu-item no-outline" routerLink="/auth/signout" routerLinkActive="active">
            <i class="mdi mdi-exit-to-app ml-4 ml-xl-5"></i>
            <span class="title">{{ 'layout.menu.signout' | translate }}</span>
        </div>
    </div>
</div>